.main
  #blue-content
    %a#circle-mypage{:href => "/users/#{current_user.id}"}
      %span#circle-font My Page
  #yellow-content
    %a#circle-fav-ranking{:href => "/favorites/index"}
      %span#circle-font Fav Ranking
  #red-content
    %a#circle-post{:href => "/posts"}
      %span#circle-font Post!
  #white-content
    %h1#logo
      %span#under Poost!
    %div
      -if user_signed_in?
        %a#log-link{:href => "/users/sign_out"} ログアウト
      -else
        %a#log-link{:href => "/users/sign_in"} ログイン
        %div
          %a#signup-link{:href => "/users/sign_up"}
            %span#signup 新規登録
