.main
  .blue.content
    %a.circle.mypage{:href => "~"}
      %span.lato My Page
  .yellow.content
    %a.circle.fav-ranking{:href => "~"}
      %span.lato Fav Ranking
  .red.content
    %a.circle.post{:href => "~"}
      %span.lato Post!
  .white.content
    %h1.logo.lato
      %span.under Poost!
    %div
      %a.log.link{:href => "~"}
        %span.noto ログイン
    %div
      %a.signup.link{:href => "~"}
        %span.noto 新規登録
