.post-box
  .h1.time-line-heading TIME LINE
  .post-side
    %a.btn-floating.btn-large.red.pulse{:href => "/posts/new"}
      %i.material-icons edit

  .post-main
    = render 'posts', posts: @posts

= audio_tag("fav.mp3", id: "audio")

:javascript
  $(function(){
      setTimeout(function(){
          location.reload();
      },10000);
  });
