@mixin circle(){
  position: relative;
  display: inline-block;
  text-decoration: none;
  width: 250px;
  height: 250px;
  line-height: 250px;
  font-size: 35px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  background-image: linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: solid 2px #b5b5b5;
  margin-top:50px;

  &:active {
    background-image: -webkit-linear-gradient(#efefef 0%, #d6d6d6 100%);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
    border-bottom: none;
  }
}

@mixin circle-font(){
  position: absolute;
  display: inline-block;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width :250px;
  text-align:center;
  letter-spacing: 3px;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.65);
}

@mixin content(){
  float: left;
  width: 25%;
  height: 100vh;
  text-align: center;
}

@mixin header-content(){
  width:50px;
  display:inline-block;
  position:absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin header-button(){
  display: inline-block;
  text-decoration: none;
  width: 50px;
  margin:2px;
  height: 50px;
  line-height: 50px;
  font-size: 23px;
  color:white;
  border-radius: 12px;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  font-weight: bold;
  transition: .3s;

  &:hover{
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}


@mixin noto(){
    font-family: 'Noto Sans JP';
    font-weight: bold;
}

@mixin lato(){
    font-family: 'Lato';
    font-weight: bold;
}

@mixin link(){
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 5px 11px 5px 15px;
  text-decoration: none;
  color: #67c5ff;
  transition: .4s;

  &:before {
    position: absolute;
    display: inline-block;
    content: '';
    width: 4px;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 3px;
    background:#67c5ff;
  }

  &:after{
    position: absolute;
    display: inline-block;
    content: '';
    width: 4px;
    height: 100%;
    top:0;
    left: 100%;
    border-radius: 3px;
    background:#67c5ff;
  }

  &:hover:before, &:hover:after{
    -webkit-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
  }
}

@mixin icon-height(){
  line-height:50px
}

@mixin user-img-box(){
  display: inline-block;
  width: 10%;
  height: 100%;
  text-align: center;
  color:gray;
}

@mixin user-img(){
  width: 60px;
  height: 60px;
  border: 3px solid orange;
  border-radius: 50%;
  margin: auto;
}

@mixin user-description(){
  padding: 5px 0 0;
  font-size: 14px;
  text-align: center;
  position: relative;
  top: 0px;
}

@mixin user-img-spin(){
  transition: .5s;

  &:hover{
    -webkit-transform: rotateX(360deg);
    transform: rotateX(360deg);
  }
}

@mixin user-name-spin(){
  transition: .5s;

  &:hover{
    -webkit-transform: rotateX(360deg);
    transform: rotateX(360deg);
    color:#EE7700;
  }
}

@mixin balloon(){
  display: inline-block;
  position: relative;
  margin: 1.5em 0 1.5em 0;
  padding: 20px 10px;
  min-width: 70%;
  max-width: 70%;
  color: #555;
  font-size: 16px;
  border-radius: 10px;
  word-wrap: break-word;
}


@mixin balloon-before(){
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -15px;
  border: 15px solid transparent;

  & p {
    margin: 0;
    padding: 0;
  }
}
