@import "./mixins.scss";

.post-box{
  height: auto;
  width: 100%;
  padding-top:100px;
  @include noto();

  .post-side{
    float:left;
    height: 100%;
    width: 10%;
    text-align: center;

    .btn-floating{
      margin-top:2em;
      position: fixed;
    }
  }
  .post-main {
    float: right;
    height: 100%;
    width: 90%;

    .main-content {
      height: auto;
      width:100%;

      .left-content {
        @include user-img-box();
        float: left;

        .icon {
          @include user-img();
          @include user-img-spin();
        }
        .img-description {
          @include user-description();
          @include user-name-spin();
        }
      }
      .right-content {
        @include user-img-box();
        float: right;

        .icon {
          @include user-img();
          @include user-img-spin();
        }
        .img-description {
          @include user-description();
          @include user-name-spin();
        }
      }
      .post-content-left {
        @include balloon();
        float: left;
        background: #EEF1F7;

        &:before{
          @include balloon-before();
          left: -30px;
          border-right: 15px solid #EEF1F7;
        }
      }
      .post-content-right {
        @include balloon();
        float: right;
        background: #DFF1F7;

        &:before{
          @include balloon-before();
          left: 100%;
          border-left: 15px solid #DFF1F7;
        }
      }
    }
  }
}

.yellow-star {
  color: yellow;
}

.black-star {
  color: gray;
}

.row{
  padding-top:100px;
}
